script(id="chat_application", type="text/html")
  .content

script(id="load_image", type="text/html")
  img(id="loading_image", src="/assets/images/loading.gif")

script(id="overview_home", type="text/html")
  form.form-inline
    .control-group
      label(for="connect-nick") Nick
      input#connect-nick(type="text")
    a(id="connect-button", class="btn btn-primary spacing-right", type="button") Connect

script(id="overview_settings", type="text/html")
  #home_parent
    a.overview_button#home Home
  p Coming soon.

script(id="titlebar", type="text/html")
  .titlebar
    span(class="window_title") {{title}}
    span(id="topic") {{{topic}}}

script(id="chat", type="text/html")
  #main-window
    #chat-window
      #chat-bar.bar
      #chat-contents.bar
      #input-container.bar
        .input#chat-input-pleasewait(class="window_title") Please wait...
        .input#chat-input-type(style="display:none")
          input(id="chat-input")
          a(id="chat-button", class="btn disabled") Send
        .input#chat-input-nick(style="display:none")
          a(id="nick-button", class="btn") Join the conversation!
      #channels-bar.bar

script(id="channel", type="text/html")
  span(class="channel-name") {{name}}
  {{#notStatus}}
  .close-button ×
  span(class="unread", title="Unread Messages") {{unread}}
  span(class="unread-mentions", title="Mentions in channel") {{unread_mentions}}
  {{/notStatus}}

script(id="user_box", type="text/html")
  div.user_box_element
    i(class="icon-user icon-white spacing-right")
    {{nick}}
  div.user_box_element
    .close-button ×
    i(class="icon-asterisk icon-white spacing-right")
    {{server}}

script(id="userlist_user", type="text/html")
  div(class="userlist_user_activity")
    img(src="/assets/images/{{user_status}}.png")
    span(class="userlist_user_{{user_stats}}")
  div(class="userlist_user_info")
    div(class="userlist_user_name") {{role}}{{nick}}
      span(class="userlist_user_time") {{activity}}

script(id="link", type="text/html")
  a(target="_blank", href="{{link}}") {{link}}

script(id="action", type="text/html")
  .chat_action
    b * {{user}}&nbsp;
    span {{content}}

script(id="message", type="text/html")
  div(class="chat-message-block {{type}}")
    span.chat-name {{user}}
    > 
    span(class="chat-message {{type}}") {{content}}

script(id="join_part", type="text/html")
  span(class="{{type}}_img")
  span <b>{{nick}}</b> {{action}} the channel {{reason}} {{message}}

script(id="nick", type="text/html")
  span <b>{{oldNick}}</b> is now known as {{newNick}}

script(id="alert", type="text/html")
  .alert(class = "{{type}}")
    a(class="close", data-dismiss="alert", href="#") &times;
    {{content}}

script(id="admin_buttons", type="text/html")
  a(id="chan-igg", class="btn") #IGG
  a(id="chan-admin", class="btn") #Admin
